/.ipynb_checkpoints
/.vscode
/Aufgabe1.py
/Aufgabe2.py
/Aufgabe3.py
/Aufgabe4.py
/Aufgabe5.py
/Aufgabe_Vererbung.py
/datenbankPractise.py
/GUI.py
/Hello.py
/licenseMonitoring
/Musikverleih_Webprogrammierung
/Practise.py
/Practise2.py
/python_training.code-workspace
/test.db
/__pycache__